body{
    margin:0;

}
.main{
    width: 35%;
    height: 700px;
    border : 1px solid black;
    background-color:white;
    position: absolute;
    margin-left: 30%;
   
}
.img{
    margin-left: 27%;
}
.para{
    text-align: center;
}
.button{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50%;
    margin-left: 130px;
    margin-top: 8%;
}
.link1{
    text-decoration:none;
    border: none;
    border-left: none;
    border-right: none;
    border-top: none;
    
    
    
}
 .link1:hover{
    border-bottom: 2px solid pink;
    font-weight: bold;
 }

.link2{
    text-decoration:none;
    border: none;
    border-left: none;
    border-right: none;
    border-top: none;
}
.link2:hover{
    border-bottom: 2px solid pink;
    font-weight: bold;
 }
.login{
    margin-left: 0px;
    font-size: 15px;
    text-decoration:none;
    border-bottom: pink;
    
    
}


.sign{
    
    margin-left: 0px;
    font-size: 15px;
    text-decoration:none;
    text-align: center;
   
}
.form{
    text-align: center;
    margin-top: 1%;
}
.mail{
    margin-top: 9%;
    padding: 10px;
    border-radius: 20px;
    width:60%;
}
.password{
  margin-top: 3%;
  padding: 10px;
  border-radius: 20px;
  width:60%;
  
}
.loG{
    background-color: #FF69B4;
    color:white;
    margin-left: 110px;
    border-radius: 20px;
    padding:10px;
    width: 60%;
    font-size: 15px;
}
.forget{
    position: flex;
   margin-left:240px;
   margin-top: 1%;
}
.for1{
    margin-left: 80px;
    margin-bottom: none;
}
.s{
    text-align: center;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    
    
}


.footer1{
    color:pink;
}
